[2020-07-16 12:48] alex-frankel opened #1 "All TS cmdlets return the same error"
[code]

returns:
New-AzTemplateSpec: Operation returned an invalid status code 'NotFound'

[code]
returns:
Get-AzTemplateSpec: Operation returned an invalid status code 'NotFound'

[2020-07-16 12:49] #1 closed, assigned to nobody

[2020-07-16 13:09] alex-frankel opened #2 "Get-AzTemplateSpec with -Version has incorrect Id"
If I do:

[code]

I would expect the ID to contain the version, but it is only the parent resource Id:
/subscriptions/996a2f3f-ee01-4ffd-9765-d2c3fc98f30a/resourceGroups/giants-deep/providers/Microsoft.Resources/templateSpecs/fasttrack-evening

It should be returning:
/subscriptions/996a2f3f-ee01-4ffd-9765-d2c3fc98f30a/resourceGroups/giants-deep/providers/Microsoft.Resources/templateSpecs/fasttrac

[2020-07-16 16:44] neilpeterson opened #3 "Issue providing TemplateJson location on macOS"
While working in the directory that contains the ARM tempalte file:

[code]

[code]

When providing full path:

[code]

I've attempted these commands both with and without "" around the Tempalte JSON location.

[2020-07-16 17:49] neilpeterson opened #4 "Module installation script hangs when not logged into Azure"
Not sure if we want to log installation script issue, feel free to close if this if not relevant.

On my Windows machine, the installation script hangs the PowerShell session when not logged into Azure. Ctrl + C does not return console access, I've had to close and restart the console (VS Code) in order to proceed. This reproduces for both current pwsh session and system wide.

[code]

[2020-07-16 17:53] neilpeterson opened #5 "Module installation script fails on macOS when selecting the system-wide operation"
When selecting option 2, system-wide, the following error is thrown. The directory in the error is the location from where I am running the installation script.

[code]

It work fine when selecting option 1, current PowerShell session

[2020-07-16 18:45] #4 closed, assigned to nobody

[2020-07-16 18:50] bmoore-msft opened #6 "creating a templateSpec via template needs expression eval options"
Deploying the resource below via template fails because the diskName parameter is evaluated with the parent which is probably correct but there's no option to set expression eval options  (like there is in deployments) - probably need the same here or any option to use tspecs via templates requires modifying the template before submission

                {
                    "name": "[parameters

[2020-07-16 19:20] #3 closed, assigned to nobody

[2020-07-16 19:22] snarkywolverine opened #7 "Update Get-AzTemplateSpec to Provide version ID when referencing specific version"
When calling Get-AzTemplateSpec with just RGName and Name, we get a version list:

Versions          : {v1}

but when we specify a specific version, we get the bolded text instead of "v1":

Get-AzTemplateSpec -Name TestSpec -Version v1 -ResourceGroupName <>

Version           : **Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSTemplateSpecVersion**
Type              : Microsoft.Resour

[2020-07-16 19:33] jorgecotillo opened #8 "New-AzTemplateSpec should show warning message when updating an existing template spec"
Scenario:
When an initial template spec gets created, it'd be ideal for any subsequent updates to it, to show a warning message letting the user know that a template spec content is being overwritten.

Examples:

Creation:
New-AzTemplateSpec -ResourceGroupName "contoso-rg" -Version "1.0" -TemplateJsonFile ..\VirtualNetwork\deploy.json -Location
"WestUS 2" -Name "VNET-Shared"

Update:
 New-AzTempla

[2020-07-16 19:39] neilpeterson opened #9 "New-AzResourceGroupDeployment is not recognizing template parameters"
The last step in this section of the doc fails:

https://review.docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-template-specs?branch=pr-en-us-119441&tabs=azure-powershell#deploy-template-spec

[code]

[2020-07-16 19:39] alex-frankel opened #10 "New-Az*Deployment cmdlet seems to be dropping certain parameters if using the -TemplateSpecId field"
Have not tested all parameters, but -Location is not being picked up when I am using the -TemplateSpecId property.

This fails:
[code]

with error:

New-AzDeployment: 2:32:51 PM - Error: Code=InvalidDeployment; Message=The 'location' property must be specified for the deployment. Please see https://aka.ms/deploy-to-subscription for usage details.

But this succeeds (the template is the same):

[co

[2020-07-16 19:42] snarkywolverine opened #11 "New-AzTemplateSpec does not have a way to specify a version description"
New-AzTemplateSpec does not have a -VersionDescription property (but Update- does)

[2020-07-16 19:45] filizt opened #12 "Export-AzTemplateSpec saves to C:\Windows\system32\<folder-name> if directory path is not provided"
Run below cmdlet in PS:
[code]

Expected: file saved in <current-directory>\test folder
Actual: file saved in C:\Windows\system32\test folder

[2020-07-16 20:12] bmoore-msft opened #13 "templateSpec w/ description property fails to deploy"
If I create a templateSpec and during creating add a description property, that templateSpec will fail to deploy with the following:

[code]

[2020-07-16 20:41] #10 closed, assigned to nobody

[2020-07-20 04:16] alex-frankel opened #14 "Deploying TemplateSpec with -Confirm flag causes error"
TemplateSpec deploys successfully without `-Confirm`, but throws an error if I run the following:

[code]

Error received is:

New-AzResourceGroupDeployment: Error reading JObject from JsonReader. Current JsonReader item is not an object: Null. Path '', line 1, position 4.

cc @shenglol / @Xynoclafe

[2020-07-20 17:53] #2 closed, assigned to nobody

[2020-07-21 04:02] #12 closed, assigned to nobody

[2020-07-21 04:43] #9 closed, assigned to Xynoclafe

[2020-07-22 02:06] jachin84 opened #15 "Format.ps1xml file for Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSTemplateSpec"
This is a minor point but I'm wondering if it would be better to add a .Format.ps1xml for `Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSTemplateSpec` so the output is in table form?

## Default Output
[code]

## Alternative
(Or something similar)
[code]

[2020-07-22 03:45] #14 closed, assigned to shenglol

[2020-07-22 05:30] jachin84 opened #16 "VM Deployment with DSC artifacts"
I added a template that uses the DSC extension and tried to use the relativePath parameter for the DSC configuration url. This didn't work. Is the intention to support this in the future?

[2020-07-22 10:39] slavizh opened #17 "Relative path starting with / does not work"
I had relative path like:

[code]

this resulted in error:

[code]

[2020-07-22 10:43] slavizh opened #18 "Referencing deployments within deployments with relativePath is not documented well"
I have deployment like:
- azuredeploy.json - the main template file
- template1.json - called from azuredeploy.json. Located in nestedtemplates folder
- template2.json  - called from template1.json.  Located in nestedtemplates folder

When you have to specify relativePath for template1.json in azuredeploy.json it looks like this:
nestedtemplates/template1.json

When I have to specify relativePath

[2020-07-22 10:49] slavizh opened #19 "How to put artifacts in template spec without being referenced in the template directly?"
How to put artifacts in template spec without being referenced in the template?

For example may be you have some artifacts that are not directly referenced in the template but you want them to be uploaded in the template spec so they can be referenced:
- license file for your solution (template spec)
- Windows server bitlocker dlls - Windows server core does not come with certain bitclocker DLLs

[2020-07-22 10:53] slavizh opened #20 "When template export is performed the name of the main template is not preserved."
When template export is performed the name of the main template is not preserved. Instead the name is replaced with the version of the template spec. Probably it is better to create a folder with the version number and there put the template spec contents with the same name when they were uploaded.  That will allow you to export multiple versions within the same local folder and maintain all the v

[2020-07-22 10:55] slavizh opened #21 "Export does not preserve new lines"
Export does not preserve new lines, instead characters like ``` \r\n ``` are put.
Example:
before import:

[code]

after export
[code]

They could formatted on import but there is no way to check.

[2020-07-22 10:57] slavizh opened #22 "Export does not preserve comments"
Export does not preserve comments. Any comments are being removed completely when export is done.

They could be removed on import but there is no way to check.

[2020-07-22 11:00] slavizh opened #23 "Export does not preserve template structure and comments (spacing, line breaks, comments)"
Export does not preserve indent. We are using 4 spaces indent but when template is exported (or imported) the indent is switched to 2 spaces.

[2020-07-22 11:16] slavizh opened #24 "Status Message: Unable to retrieve the template content from the resource ID"
I am getting error when I try to deploy a template spec that I have uploaded. Error is:

[code]

If needed I can provide more information in private.

[2020-07-22 21:23] ChristopherGLewis opened #25 "New-TemplateSpec -TemplateJson should accept 'System.Object[]' (or at least System.String[])"
Typical way to read a text file is the following:

$JSON = Get-Content 'C:\MyFile.JSON'

This should be able to be passed to New-TemplateSpec using the TemplateJSON parameter. (And yes, I know about the -TemplateJsonFile parameter)

When calling

     New-TemplateSpec -TemplateJSON (Get-Content 'C:\MyFile.JSON')

I get this error:

    New-AzTemplateSpec: Cannot convert 'System.Object[]' to the ty

[2020-07-22 21:27] ChristopherGLewis opened #26 "Can you Explain the $TemplateJSON?"
Can you explain this:

[code]
And if this will live past the preview, can you only produce it on parameter request?  (I use $TemplateJSON in my scripts already, and it overwrites it.)

[2020-07-22 21:46] ChristopherGLewis opened #27 "PSTemplateSpecSingleVersion should not exist - There should only be PSTemplateSpecMultiVersion"
Using `Get-AzTemplateSpec` with a `-version` parameter returns two different powershell objects - this is against most good powershell practices.

`Get-AzTemplateSpec` should always return an object with Versions as an array, then let Powershell handle the Array.  If there is one array element, .Version would return the first (along with .Version[0]).  Multiple Versions would result in Versions[0]

[2020-07-22 21:56] ChristopherGLewis opened #28 "PSTemplateSpecVersion object should be available as text"
The `PSTemplateSpecVersion` object of a `PSTemplateSpecSingleVersion`/`PSTemplateSpecMultiVersion` object should have a text version of the object.

This would be similar to how the get-AzVirtualNetwork fields work -
* Address/AddressText
* BgpCommunities/BgpCommunitiesText
* DdosProtectionPlan/DdosProtectionPlanText
* DhcpOptions/DhcpOptionsText
* EnableDdosProtection/EnableDdosProtectionText
* I

[2020-07-22 22:00] ChristopherGLewis opened #29 "New-AzTemplateSpec should support destinations other than ResourceGroups"
New-AzTemplateSpec should support destinations such as Subscription and ManagementGroup.

[2020-07-23 00:30] #26 closed, assigned to nobody

[2020-07-24 03:43] #11 closed, assigned to nobody

[2020-07-24 03:47] #17 closed, assigned to snarkywolverine, stuartko

[2020-07-24 13:58] #18 closed, assigned to mumian

[2020-07-24 15:47] #25 closed, assigned to nobody

[2020-07-24 16:55] #22 closed, assigned to stuartko

[2020-07-24 16:55] #21 closed, assigned to stuartko

[2020-07-27 16:57] lunar87 opened #30 "How will template specs integrate with Azure DevOps?"
Although you can version template specs, how do you see integrate template authoring lifecycle with source contral as well as template spec deployements with Azure DevOps pipelines? Are there template spec pipeline tasks that are planned to assist with this?

[2020-07-29 16:28] #30 closed, assigned to nobody

[2020-07-29 16:59] alex-frankel opened #31 "Provide a mechanism to be notified of new versions of a particular TemplateSpec"
Not sure if there is prior precedence from other versioned things in Azure like Shared Image Gallery.

E.g. if you do:

[code]

You could get a response at the beginning like:

[code]

[2020-07-29 19:13] jannickoeben opened #32 "Get-AzTemplateSpec throws back multiple object types"
The commandlet Get-AzTemplateSpec does not return a TS version when no version is specified. It even returns a different object.
When a version is specified an object of type 'PSTemplateSpecSingleVersion' is returned, with a property called 'version'.
When a version is not specified an object of type 'PSTemplateSpecMultiVersion' with a property called 'versions'.
Not sure, but I don't think it is

[2020-08-04 01:00] #7 closed, assigned to nobody

[2020-08-04 01:01] #8 closed, assigned to nobody

[2020-08-06 18:41] #15 closed, assigned to nobody

[2020-08-08 01:40] #5 closed, assigned to nobody

[2020-08-11 15:06] #13 closed, assigned to nobody

[2020-08-11 17:44] #28 closed, assigned to nobody

[2020-08-12 15:09] alex-frankel opened #33 "Rename -TemplateJsonFile to -TemplateFile"
Goal is to limit confusion and align with the equivalent deployment cmdlet parameter name.

As part of this, it would be good to give a helpful error message if I use -TemplateJson incorrectly with a file path.

e.g. `New-AzResourceGroupDeployment ... -TemplateJson ./path/to/template.json`

[2020-08-16 23:34] itshemant09 opened #35 "Deploy specific version of the template using portal or other mediums"
May be I am missing something but Suppose If  I have a multiple versions of my template and I want to deploy specific version. How I can deploy it?

![image](https://user-images.githubusercontent.com/16230131/90346498-fa4e7600-e046-11ea-8c12-ac55ecf0a058.png)

I do not find any option to deploy specific version. How to to it via PowerShell or CLI?

[2020-09-08 20:07] #24 closed, assigned to snarkywolverine

[2020-09-10 07:29] jannickoeben opened #36 "Will template specs integrate with bicep"
How will the new dsl relate to template specs?

Will template specs be repositories for the intermediate language, or will they be able to store bicep files too?

Is the flow for single use:
Write Bicep template > build to arm template > deploy to Azure

Is the flow for multiple use:
Write Bicep template > build to arm template > deploy to Azure template spec
Deploy template spec

Or will we be ab

[2020-09-25 07:02] #33 closed, assigned to stuartko

[2020-09-25 07:03] #32 closed, assigned to nobody

[2020-09-25 07:03] #27 closed, assigned to nobody

[2020-09-25 07:04] #20 closed, assigned to nobody

[2020-10-06 19:53] #36 closed, assigned to nobody

[2020-10-25 02:11] Svessir opened #37 "Expressions wiped from published template spec"
I have been using new lines and indents in expressions to make them more readable in my templates. Example:
[code]
This works well when I deploy the template normally but when creating a template spec I can see comments and such are removed from the template. Looking at the template in the template spec I would see the above example processed to:
[code]
The worst thing is that the template spec wi

[2020-10-29 15:51] alex-frankel commented on #37
@Svessir  - do you have the full template that you used to reproduce this behavior? Comments & whitespace are not preserved today, but we should not be changing any of the actual code, so this would indeed be very strange if this was happening.

[2020-10-30 01:30] stuartko commented on #37
This is only impacting the Az CLI client. @detienne20 will investigate further.

@Svessir : As a workaround you can utilize the Az Powershell cmdlets until this is fixed...

[2020-10-30 01:40] stuartko commented on #35
As of late August you can now deploy a specific version via the portal by right clicking on any version within a template spec, or by choosing deploy from the version page itself.

![image](https://user-images.githubusercontent.com/47676853/97650083-25c1e980-1a16-11eb-9058-cb51ad94087a.png)

[2020-10-30 01:40] #35 closed

[2020-10-31 00:59] detienne20 commented on #37
We investigated and found the root cause. A fix should be deployed next week.

[2020-11-03 14:30] stweb1963 opened #38 "Support Tags in PowerShell Commands"
The templateSpecs resources support Tags but the PowerShell commands do not provide support for or return tag details

Add -Tags to New-AzTemplateSpec

Return Tags when using Get-AzTemplateSpec for both the templateSpec and if specified, versions

[2020-11-03 15:32] alex-frankel commented on #38
Thanks for reporting this. We missed this and plan on implementing it soon. FWIW, our plan is to have tags inherit to a version. So if I do:

[code]

There will be an `Owner` tag on the parent TemplateSpec resource and the child Version resource. Any concerns with that plan?

[2020-11-03 16:09] stweb1963 commented on #38
No issues
Will we also have the ability of tags on just the versions so the end result is a merge of parent and version
And if the version has the same tag it would win over the parent

[2020-11-03 16:25] stweb1963 opened #39 "Get-AzTemplateSpec should include the ability to expose the 'template' property"
Currently the only way to retrieve the template version is to use Export-AzTemplateSpec which requires saving the template to a file location

It would be an advantage to have the template output exposed using Get-AzTemplateSpec ... -Version [version]

Our DevOps pipeline does preprocessing on the template to inject a standard set of parameters that are within each of our templates

This would cur

[2020-11-03 22:16] stuartko commented on #39
The version object and the artifact object both have a Template property exposed, but for versions it is not currently displayed in the output by the default formatter (we have plans to change this). To get the template for a specific version, you can call Get-AzTemplateSpec ... -Version [version], and then access .Versions[0].Template on the returned object.

For example:

[code]

[2020-11-03 22:17] stuartko commented on #39
@stweb1963 : Is the example/behavior above sufficient for your pipeline?

[2020-11-04 09:47] stweb1963 commented on #39
I have tested and this will be sufficient
Thanks

[2020-11-04 11:09] stweb1963 commented on #38
I've been considering the child adoption and have 1 possible concern

We put a number of tags on our resources based on our devops deliveries => repo, build, deliveryId, etc
Some would be specific to the templateSpec and possibly some specific to the version (i.e. branch name)

If we are creating the initial TS and put tags on it specific to the version then this would imply that all other version

[2020-11-04 13:16] stweb1963 opened #40 "New-AzDeployment : Cannot retrieve the dynamic parameters for the cmdlet when deploying to different subscription then the subscription storing the templateSpec"
If you deploy to a different subscription then the one the templateSpec is stored you receive the following error

New-AzDeployment : Cannot retrieve the dynamic parameters for the cmdlet. Operation returned an invalid status code 'NotFound'
At line:1 char:1
+ New-AzDeployment -TemplateSpecId /subscriptions/c304833c-8a28-41f4-96 ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-11-04 15:24] #39 closed

[2020-12-08 20:06] stuartko commented on #40
The fix for this has now been released with v5.2.0

https://github.com/Azure/azure-powershell/releases/tag/v5.2.0-December2020

[2020-12-08 20:06] #40 closed

[2020-12-08 20:07] stuartko commented on #38
The support for this has now been released with v5.2.0

https://github.com/Azure/azure-powershell/releases/tag/v5.2.0-December2020

[2020-12-08 20:07] #38 closed

[2020-12-20 16:37] stweb1963 opened #41 "templateSpecId cannot be derived from resourceId() function if deploying at the subscriptionLevel scope"
It would be convenient to derive the resourceId as

resourceId([resourceGroupName], 'Microsoft.Resources/templateSpecs/versions/', '[templateSpecName]', '[templateSpecVersion]'

This unfortunately is unsupported at the subscriptionScope so we are forced to use concat, etc to build the templateSpec resourceId. This then goes against the ARM Test Toolkit best practice test case 'IDs Should Be Derive

[2020-12-20 16:40] stweb1963 commented on #41
THis would also imply and probably have more value when deploying to multiple subscriptions

resourceId('[subscriptionId]', [resourceGroupName], 'Microsoft.Resources/templateSpecs/versions/', '[templateSpecName]', '[templateSpecVersion]')

[2020-12-20 22:08] TEJ975 opened #42 "Deploying Template-spec at Subscription level from portal fails"
Validation fails with error stating 'location' property must be specified for the deployment. Deployment parameters mentions   'Region' parameter?

[2020-12-21 17:17] alex-frankel commented on #41
You are right - this is a known issue with the `resourceId()` function. It is basically impossible to construct an RG-scoped resourceId in non-RG scoped deployments. The fix for this is in progress, so hoping it is resolved sometime in Feb of next year.

[2020-12-21 18:39] alex-frankel commented on #42
Thanks for reporting. I was able to repro on my end as well. A lot of people are out since we are close to christmas/new year's, but we will take a look when we are back on the Jan 4th

[2020-12-21 18:40] alex-frankel commented on #37
Closing - this fix should be deployed in the latest version of Az

[2020-12-21 18:40] #37 closed

[2020-12-22 17:57] alex-frankel commented on #41
BTW - you should be able to get around this by creating a nested deployment targeting a resource group with `expressionEvaluationOptions.scope` set to `inner`:

[code]

It's definitely a hack, so hopefully we can get this resolved quickly

[2020-12-22 18:30] stweb1963 commented on #41
Definitely going to wait as this requires having the RG first

This would require an inline deployment of the RG, then the hack, then follow up with the deployments
but we include a standard linked RG template which does all the proper tagging, etc

For now the pipeline passes in the root templateSpec resourcegroup id to create the base pointer for the versions which are derived from semantic vers

[2020-12-23 15:43] stweb1963 opened #43 "Description property lost on version creation when using PowerShell - New-AzTemplateSpec"
The description is not retained when using PowerShell to create a templateSpec version
There is no issue if performed using the portal

## Sample Command
[code]

## Reference

![image](https://user-images.githubusercontent.com/57627618/103013676-8861ce00-450b-11eb-8478-49448deb28c2.png)

[2021-01-07 19:19] f1xxxer opened #44 "Specify parameter files for main and linked templates"
It would be very convenient to have a possibility to specify parameter files for the linked templates with relative path.

For example:

[code]

[2021-01-07 23:07] stuartko commented on #43
[New-AzTemplateSpec](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-aztemplatespec?view=azps-5.3.0) has separate parameters for the root template spec description and the version description. To set the version description you can use the parameter `-VersionDescription "your version description here"`

If I have misunderstood the issue you're having here, please let me know, o

[2021-01-08 19:46] stweb1963 commented on #43
Yes, looks like this was my issue, thanks
Testing now, and will confirm

A little misleading as I assumed if using -Version parameter then -Description would apply to the version

[2021-01-08 23:42] stuartko commented on #43
When a version is being created, a "root" template spec resource (essentially a container) is updated/created too, so we need to provide the capability of providing a description for both the root and the version independently, which unfortunately can cause some confusion.

If you have suggestions on how this may be improved, we're very open to improvements/changes.

For now I'll close this issue.

[2021-01-08 23:42] #43 closed

[2021-01-09 11:07] stweb1963 commented on #43
So testing proved successful but this is how I need to handle it base on how tagging get applied

To separate templateSpec 'root' tags from 'version' tags you need to use Set-AzTemplateSpec first (no version)
Then push the version with the tags specific to the version => New-AzTemplateSpec -Version

If you push the version without first creating the root, the specific version tags are attached to

[2021-01-09 12:28] jatinbhalla commented on #30
I have main and linked templates in Azure repo and using Azure powershell in CI i was trying to create template spec. but CI throws an error.
##[error]The term 'Get-AzTemplateSpec' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

While these commands are

[2021-01-11 05:31] alex-frankel commented on #30
My guess is the Azure PowerShell DevOps task is not up to date with the latest version of the public PowerShell Az module. You should be able to [install the latest version](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-5.3.0#install-for-current-user) as part of your pipeline task before calling the `*-AzTemplateSpec` tasks that you need.

[2021-01-12 05:27] alex-frankel commented on #43
I think the only alternative is to not tag the root template spec when you are creating parent + version. Would that work better for you? We could also introduce a flag to control the behavior like `-OnlyTagVersion` or something like that

[2021-01-22 19:46] brwilkinson commented on #16
Thanks for opening this issue, this was going to be the very next thing I was going to look into for Template Specs. Saved me some time.

[2021-01-22 19:49] brwilkinson opened #45 "New-AzResourceGroupDeployment Fails to determine dynamic (template) parameters when using the TemplateUri"
Sample Template for demo purposed

[code]

Sample param file for Demo

[code]

[2021-01-22 19:51] brwilkinson commented on #45
### Works as expected

![image](https://user-images.githubusercontent.com/3605266/105538284-069ac700-5ca8-11eb-80f5-ef06b96270af.png)

[code]

[2021-01-22 19:53] brwilkinson commented on #45
### Works as expected

![image](https://user-images.githubusercontent.com/3605266/105538429-3b0e8300-5ca8-11eb-9dbf-eb67405d6c9c.png)

[code]

[2021-01-22 19:54] brwilkinson commented on #45
Works as expected###

![image](https://user-images.githubusercontent.com/3605266/105538566-7315c600-5ca8-11eb-9d3a-3e47d3367cbe.png)
New-AzResourceGroupDeployment @Params

DeploymentName          : nestedTest
ResourceGroupName       : AZC1-BRW-ABC-RG-S1
ProvisioningState       : Succeeded
Timestamp               : 1/21/2021 11:46:06 PM
Mode                    : Incremental
TemplateLink

[2021-01-22 19:55] brwilkinson commented on #45
### Works as expected

![image](https://user-images.githubusercontent.com/3605266/105538706-a9ebdc00-5ca8-11eb-8044-21f6cc6d97ce.png)

[code]

[2021-01-22 20:02] brwilkinson commented on #45
This now breaks . . . using TemplateURI

![image](https://user-images.githubusercontent.com/3605266/105539401-8aa17e80-5ca9-11eb-9d81-06a51e62603a.png)

[code]

Also when update when you remove foo . . .

![image](https://user-images.githubusercontent.com/3605266/105539500-ae64c480-5ca9-11eb-97d1-21fefdfc3864.png)

[code]

[2021-01-22 20:05] brwilkinson commented on #45
I demoed with splatting for simplicity, however, same goes for using the parameters inline.

[code]

[2021-01-25 08:11] slavizh commented on #16
Vote for this one as I have given that feedback before to support other formats than json.

[2021-02-04 18:49] brwilkinson commented on #45
@alex-frankel just wanted to tag you on this one, since I didn't see anyone pick up this issue.

This is a blocker for me deploying via template specs, I wanted to keep moving forward on my testing/implementation.

[2021-02-04 18:53] alex-frankel commented on #45
@Xynoclafe is working on a fix. We will update this with the azure-powershell PR once it's out.

[2021-02-04 18:59] alex-frankel commented on #42
This should be fixed.

[2021-02-04 18:59] #42 closed

[2021-02-05 10:36] outifaout commented on #24
I have the same issue, even when I change the region from West Europe to West US 2..
Has this been identified as a bug? has it been fixed?

[2021-02-05 17:23] alex-frankel commented on #24
Can you confirm that you have access to the template spec resource? Can you share the error you are getting and a correlation ID if you have one?

[2021-02-08 13:28] outifaout commented on #24
Yes I do have access. This is the error I get :
##[error]InvalidTemplateSpec: Unable to retrieve the template content from the resource ID '/subscriptions/ad4b8e8f-6b90-42ef-85f4-f96352fc1dd6/resourceGroups/tr-rg-dev-templateSpecs/providers/Microsoft.Resources/templateSpecs/tr-ts-dev-cdnAndStorage/versions/1.0'. Please see https://aka.ms/arm-deploy for usage details. Diagnostic information: timest

[2021-02-08 18:09] Xynoclafe commented on #45
@brwilkinson @alex-frankel The PR was merged. The fix should be included with the next release.
https://github.com/Azure/azure-powershell/pull/14132

[2021-02-08 18:13] brwilkinson commented on #45
Thank you @alex-frankel @Xynoclafe ✅

[2021-02-08 22:31] snarkywolverine commented on #24
This is a permissions issue - it looks like the identity that created the template spec is is different than the identity deploying the template spec.  Try deploying with the former identity, or verifying that the latter has permissions to TemplateSpecs.

[2021-02-12 10:05] slavizh opened #46 "TemplateSpec and URI co-exist"
Hi,
I think I know the answer but can you have a template that works for both being deployed via template spec and via storage account URIs. As far as my research shows it is not possible. For example I have tried to use conditions to either put uri or relativePath value in templateLink but such approach works only when you do New-AzDeployment and URIs as the conditions are evaluated at the deploy

[2021-02-12 10:26] slavizh commented on #46
never-mind, found the example: https://github.com/ajf214/personal-arm-templates/tree/main/ARM-Templates/testing/linked-template-relPath

[2021-02-12 10:26] #46 closed

[2021-02-15 18:07] azMantas opened #47 "missing 'StrongType' experience in GUI"
it would be great to use 'strongType'  functionality for our portal users.
That's what I have in my tempalte parameters file
[code]
    and that's how it looks like in a portal.
![image](https://user-images.githubusercontent.com/47916866/107980868-4ad86900-6fc1-11eb-8a86-2862fad8d7ce.png)

[2021-02-15 18:12] alex-frankel commented on #47
We are going to be supporting [createUiDefinition](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-uidefinition-overview) to support this scenario going forward. This should give you a lot more capability than what is currently possible with policy's `strongType`.

[2021-02-15 18:25] azMantas commented on #47
great! can we expect to get this functionality before summer?

[2021-02-18 15:41] azMantas opened #48 "possibility to disable edit template version"
To ensure stability we would like to disable editing feature in templateSpecs. We could provide additional parameter by creating a templaceSpec "-edit $false"

[2021-02-21 08:30] stweb1963 commented on #48
This seems more of an RBAC action by defining and assigning role(s) based on

[code]

There aren't any specific roles defined yet but nothing that can't be handled with a custom role

https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

[2021-02-23 12:00] azMantas commented on #48
we want to allow people to create a new versions, and we don't want to stop them from doing that. But we want to be sure that new versions are created, instead of overwriting existing one. Just say so that we have a stable version 1.0 and if someone tries to update the same version will be denied instead of prompt to overwrite
[code]
my question is: how to disable overwriting existing version?

[2021-02-23 17:14] alex-frankel commented on #48
There is no way to disable it today so that we can allow for hotfixes if needed. That being said, the ask makes sense. We will discuss on our side to see if we could add a property that would disable overwrites. cc @apclouds

[2021-02-23 22:30] stweb1963 commented on #48
Understand

We mitigated this risk by only allowing our pipeline to write templateSpecs
Everyone else has read except if you've been granted specific RBAC rights

The version is either
- while in development
  - the name of the branch
- released via PR
  - the major.minor.0 (tagged) semantic version
  - we can redeploy by tag if we suspect the version was compromised

[2021-02-25 07:18] azMantas commented on #48
theoretically speaking, we also have a pipeline that creates a new template versions and that just works. But in reality few people have direct access to template specs...

[2021-03-03 03:26] brwilkinson commented on #45
Hi @Xynoclafe

just checking on the new modules

![image](https://user-images.githubusercontent.com/3605266/109747955-e30f4a00-7b8c-11eb-9921-0f6582dc8397.png)

Did the fix not make it into 3.3.0  [Az.Resources]?

I still see the same issue..

![image](https://user-images.githubusercontent.com/3605266/109748078-14881580-7b8d-11eb-91a2-ff5b9b641866.png)

![image](https://user-images.githubuserconte

[2021-03-03 12:55] Xynoclafe commented on #45
Hi @brwilkinson
The fix should be present in Az Modules 5.6.0.
In the screenshots you added, my guess is that the error is due to the "?" at the start of the QueryString. -QueryString takes the SASToken without the preceding "?".

[2021-03-03 16:50] brwilkinson commented on #45
@Xynoclafe  aah good catch, thank you.

It's interesting however I tested both cases here before replying and one of them works with the ?

### works reading both from param file

![image](https://user-images.githubusercontent.com/3605266/109840388-ecd09600-7bfc-11eb-90a1-8d66e50a73dc.png)

### doesn't work with the dynamic param

![image](https://user-images.githubusercontent.com/3605266/10984056

[2021-03-03 17:07] brwilkinson commented on #45
oops deleted my comment, take 2.

Thanks @Xynoclafe good catch.

Yes it does work as expected without the ?

![image](https://user-images.githubusercontent.com/3605266/109841783-41284580-7bfe-11eb-9930-6221f3e03a58.png)

I did test this before posting yesterday and it works with the ? when not using dynamic params.

Not sure why this doesn't fail ? with the  ?

![image](https://user-images.githubu

[2021-03-03 17:22] alex-frankel commented on #45
Closing since the initial issue is resolved. @brwilkinson we are planning to normalize this behavior I believe. @snarkywolverine - did we end up implementing that already?

[2021-03-03 17:22] #45 closed

[2021-03-03 22:07] snarkywolverine commented on #45
Yes, you can now either include or omit the leading ? for the queryString.

[2021-03-03 22:13] brwilkinson commented on #45
Thanks @snarkywolverine

we may have found a scenario that is not stripping the ?

When using a dynamic param... it doesn't normalize.

There was a recent update to make this work, so perhaps a regression on that functionality?

This was the update Azure/azure-powershell#14132

![image](https://user-images.githubusercontent.com/3605266/109879315-49967580-7c2a-11eb-9138-21059d2d569c.png)

[2021-03-04 02:01] Xynoclafe commented on #45
@brwilkinson The behavior right now is as expected since dynamic parameters are resolved before the "?" is normalized. We can definitely add the "?" normalization to the dynamic parameters scenario as well in a future version.

[2021-03-15 21:56] alex-frankel commented on #47
Yes it should be done by then - cc @apclouds and @TarunSunkaraneni as FYI

[2021-03-26 00:12] Kittoes0124 opened #49 "Allow Duplicate "relativePath" Entries"
**Background:** I have added support in my templates for a set of pre-deployment and post-deployment scripts. Both of these inner deployments depend on a common template called "Microsoft.Resources/deploymentScripts.json". If it is at all useful to you, my source code can be found [here](https://github.com/ByteTerrace/Azure.ResourceManager.Templates/blob/main/resourceGroupDeployment.json).

**Issu

[2021-03-30 21:55] brwilkinson opened #50 "enhancement: incorrect error message for when a template is not available at the specific templateURI"
Actual error

![image](https://user-images.githubusercontent.com/3605266/113061740-61004a00-9167-11eb-87db-683ddc5dc325.png)

Preferred Error

"Template not found at specific URI."

Since the current error is misleading.

[2021-03-31 00:49] brwilkinson opened #51 "RelativePath for nested template not resolving"
I have 3 tiers in my deployments

templates-deploy
  --> templates-base
    --> templates-nested       * roleAssignmentsALL.json is in this directory

I switched over to using RelativePath, however I cannot see a way to move from the template-base to reference the templates-nested.

This is my flat structure

![image](https://user-images.githubusercontent.com/3605266/113073454-f9092e00-917d-11eb-8

[2021-03-31 03:52] stuartko commented on #51
Based on the hierarchy I see from the screenshots, this is by design if your linked templates are not within the directory of your master/main template or any of its subdirectories. For security reasons, we do not allow references to files in directories outside of your master template directory hierarchy.

To confirm this is the issue you're facing, I'll send you an additional mail with more ques

[2021-03-31 07:39] brwilkinson opened #52 "Proposal: The root of any RelativePath type Deployment should be able to be specified above the TemplateURI"
### This is a proposal that should be relevant for the following 2 scenarios
- Storage URI deployments
- Defining/uploading Template Specs.

Currently when deploying a Template that uses RelativePath you have the following 2 parameters.

- queryString
- TemplateURI

This is a proposal to provide an additional "URIBase" property.

There are several ways to facilitate this capability, however, first

[2021-03-31 21:03] brwilkinson commented on #51
just linking to this other discussion #52 . . . to ensure this is an inclusive conversation between deploying from storageURI and deploying from TemplateSpecs.

[2021-04-09 10:02] ihommani opened #53 "Issue to reference linked template output values in an AKS node pool definition (value vnetSubnetID)"
Hi, I am currently facing the following issue:

From a linked template called `createVnet` I set the output `poolSubNetId` and `agwSubNetId` which correspond to Vnet subnet Ids.
The way I forge them relies on the resourceId ARM template function:

[code]

I checked that the strings are Ok on the lone deployment of the linked template through a dedicated template spec.

Now I want to reference thes

[2021-04-15 22:38] snarkywolverine commented on #51
I'm not 100% confident I'm following the file structure you laid out, but here's my best understanding:

templates-deploy [contains mainTemplate.json]
templates-nested [contains roleAssignmentsAll.json]

In mainTemplate.json, you are specifying a nested deployment in the json using the notation above (I'll use shorthand here):
templateLink.RelativePath = "../templates-nested/roleAssignmentsAll.jso

[2021-04-15 22:54] brwilkinson commented on #51
I plan to have this working for both Template Specs and also URI based deployments, since I will do dev/test against storage, then I will use Template specs with the exact same templates for non dev/test deployments.

Anything new will be added and tested to the templates against storage and this cycle will continue daily, once the templates are working as expected and tested they will be converte

[2021-04-16 00:38] brwilkinson commented on #51
I am deploying this:

- It's in the templates-deploy, so it orchestrates other 'deployments' of different types.

`https://acu1brwaoag1saglobal.blob.core.windows.net/acu1-aoa-stageartifacts-benwilk/templates-deploy/00-azuredeploy-sub-InitialRG.json`

In this case it's kicking off 2 nested deployments that you can see below . . . one of them creates RG's the other applies Role Based Access Control

[2021-04-16 17:55] snarkywolverine commented on #51
Can you share a correlation ID of a deployment that is more recent than the screenshots from 2/15?  I'd like to take a look at the logs.

Also, since you want this to be deployed via TemplateSpec anyway - have you tried creating a template spec with this hierarchy?

[2021-04-16 18:28] brwilkinson commented on #51
hey @snarkywolverine I have a few separate issues for tracking the Template Specs items.

e.g. #52

Here are 3 sample deployments from just now... just ping me if you want more

1.  The tracking Id is '1c853811-e167-4c67-8b80-1b660b82cfa4'.
with `../`
with this: `"relativePath": "../templates-nested/roleAssignmentsALL.json",`

it's looking for: --> `acu1-aoa-stageartifacts-benwilk/templates-deploy

[2021-04-16 18:34] brwilkinson commented on #51
@snarkywolverine  also if it helps I can build you out some repro templates, so you can test deploy via multi level nested deployments yourself.

[2021-04-16 19:41] brwilkinson commented on #51
okay I did the standalone repro code.

https://github.com/brwilkinson/azdeployrecursive

you can just kick off the azdeploy.ps1

it will
1.create the resource group foo3
2. create the storage account with random guid name
3. upload the 3 templates to storage: deploy, base, nested
4. kick off the repo deployment.

`Unable to download deployment content from 'https://51d5ccdbc5e64af48431d2.blob.core

[2021-04-28 04:39] SvenAelterman commented on #45
@Xynoclafe I have Az.Resources 3.4.1 in an Azure Automation account. When using the `New-AzResourceGroupDeployment` cmdlet in a PowerShell runbook, I get an error that the parameter isn't specified when it's not in the parameters file. When I specify the parameter in the parameters file and then specify it as a dynamic parameter, the dynamic parameter value doesn't override the value from the temp

[2021-05-10 15:38] warren-li opened #54 "Unable to deploy template spec via Az cli. Throw error 'Template'"
Running

az deployment group create from az cli
with --template-spec $id

would throw Error 'template'

Deploy using portal on template spec is fine.

[2021-05-10 16:10] detienne20 commented on #54
@warren-li are you using the latest version of az cli that was released 05/06?

[2021-05-13 12:59] warren-li commented on #54
`cli.knack.cli: Command arguments: ['deployment', 'group', 'create', '--name', 'test', '--resource-group', 'rg-customer', '--template-spec', '/subscriptions/6cbe45a0-6565-4c4a-b1a9-0929f276bbcd/resourceGroups/rg-customer/providers/Microsoft.Resources/templateSpecs/ts-dev-st_customer_documents', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
Init colorama.
cli.knack.cli: Ev

[2021-05-13 13:00] warren-li commented on #54
`azure-cli                         2.23.0

core                              2.23.0
telemetry                          1.0.6

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory 'C:\Users\Warren.Li\.azure\cliextensions'

Python (Windows) 3.8.9 (tags/v3.8.9:a743f81, Apr  6 2021, 13:22:56) [MSC v.1928 32 bit (Intel)]

Legal docs and information: aka.ms/

[2021-05-13 13:02] warren-li commented on #54
@detienne20 sorry for the late reply, the above is my az --version and the output of the --debug.

[2021-05-20 11:02] ihommani commented on #53
Hi, I finally found the issue. I was misusing the reference() function that should point to an entity accessible from the same deployment template. No 'creatVnet' is available so it get something different than an Id (maybe an error message or null output) that is provided as a VnetId; Hence the message.
Solution is to pass the Vnet id as a parameter of this deployment template and set the value i

[2021-05-20 11:02] #53 closed

[2021-05-24 21:11] detienne20 commented on #54
@warren-li Thank you for your patience. The latest version of CLI will be released on 5/25. If you are still seeing this issue then, this might an issue with your installation, please reinstall and let us know if the issue persists then.

[2021-05-26 11:45] slavizh commented on #19
One example is runbooks API: https://docs.microsoft.com/en-us/rest/api/automation/runbook/createorupdate. The runbooks needs to be uploaded to a web location as you can deploy them only via URI. Unfortunately it is a bummer that different resource implement this differently. For example deploymentScripts https://docs.microsoft.com/en-us/azure/templates/microsoft.resources/deploymentscripts?tabs=js

[2021-06-07 23:16] lukearp opened #55 "Unable to create a version using ARM"
I am trying to create a Template Spec and Version via an ARM template.  I can create the Template Spec object no problem, but I get an error on the version. The exact error I get is:

[code]

In this example the name of my Template Spec was 'Resource-Group-Deploy' and the Version Name was 'v1'.  I have attempted to get this to deploy multiple ways and get the same error.  The last attempt I follow

[2021-06-09 00:37] alex-frankel commented on #55
We've identified the root cause of this and have a fix currently in PR. This is an internal link, but will keep it here for reference: https://msazure.visualstudio.com/One/_git/Mgmt-Governance-Blueprint/pullrequest/4629310

[2021-06-09 15:34] stuhay commented on #55
We also have this issue, it's causing a holdup on all our releases.

Is there an ETA, or at least a workaround?

[2021-06-10 00:17] alex-frankel commented on #55
The PR has been merged so it shouldn't be much longer than a week. @stuartko -- do you have a more precise ETA?

[2021-06-14 20:51] stuartko commented on #55
The deployment is currently in progress, it's deployed to our lower traffic regions already, and should reach all regions by the end of the week (optimistically by Thursday).

[2021-06-23 23:28] alex-frankel commented on #55
This fix has been deployed. Let us know if you are still seeing this.

[2021-06-23 23:28] #55 closed

[2021-07-04 02:22] kilasuit opened #56 "Allow use of variables in relativepath within the TemplateSpec resource"
As commented on in this issue https://github.com/microsoft/vscode-azurearmtools/issues/1323 I have a need where I am not hardcoding the path for the sub template being deployed with template specs, especially as requiring the value to be hardcoded breaks typical developer expectation of being able to use variables for data that is referenced many times in a template

As this stands it is a stopper

[2021-07-04 03:13] kilasuit opened #57 "Allow referencing templates outside of the top level templates directory."
Having read some of the comments in #51 I am thinking that template specs needs a few tweaks to enable the most optimal dev flow
Example comments
Like this from @stuartko

& this from @snarkywolverine

Both point to a need for template specs to allow for a template to be able to traverse at least 1, but preferably 2 levels **above** the master template.
It would also be useful to be able to specif

[2021-07-06 16:26] alex-frankel commented on #56
We can't allow this for parameters since we need to be able to resolve the paths at TS-create time, but we theoretically could allow it for variables. My guess is there are some technical blockers in resolving the variables at TS-create time since we only resolve the variables when the deployment starts.

cc @stuartko as FYI in case he has some more insights.

[2021-07-07 09:07] kilasuit commented on #56
`We can't allow this for parameters since we need to be able to resolve the paths at TS-create time` - There is a pattern that we've used for years with API versions which is to pass through an APIVersion object from our top level templates into lower level ones.
Could we potentially allow a `TemplateSpecs` parameter that could be used in a similar manner at all?

example object definition
[code]

[2021-07-15 17:58] JustinGrote opened #58 "Template Specs ignore UI definition?"
@alex-frankel not sure if I'm missing something here:

Published a template spec using set-aztemplatespec and the uidefinitionfile parameter. Debug shows it loaded fine:

[code]
etc...

However when I go to deploy the template spec, it completely ignores it, it seems.
![image](https://user-images.githubusercontent.com/15258962/125835275-dcf955e1-69c0-4eeb-90a8-d0a8a4953869.png)

Am I missing somet

[2021-07-15 18:01] JustinGrote commented on #58
I should also note that the UI definition is still present too in Get-TemplateSpec
![image](https://user-images.githubusercontent.com/15258962/125835592-8d4a4268-beaa-4d2c-be34-e2484c73ddee.png)

[2021-07-15 20:48] JustinGrote commented on #58
I tried it with the traefik azure quickstart UI definition which I know works and still no joy, the "deploy to azure" button works fine tho.
![image](https://user-images.githubusercontent.com/15258962/125855492-fdb5d6fe-cc29-4551-8d6c-19d9a2b8e37c.png)

[2021-07-19 23:08] alex-frankel commented on #58
This was answered on twitter, but want to close the loop here. We built support for this into the templateSpec API, but have not finished the portal support to read this UiDefinition if it is provided. Our current ETA is that this will be completed in about a month. cc @apclouds

[2021-07-23 01:46] peter-bertok commented on #58
I'm eagerly awaiting the release of this. It's the #1 most requested feature among our customers. Most administrators prefer to have a nice GUI they can click through, and as a consultant I haven't been able to deliver anything for them because this was missing.

[2021-07-30 06:45] Bad-Rog commented on #58
I'd like to second peter-bertoks comment...
This will be a great feature, please update us here, once it is implemented.

[2021-08-13 05:00] peter-bertok commented on #58
Is there any update on the progress of this feature?

[2021-08-31 07:49] Bad-Rog commented on #58
Guys, can we get an updated on this Issue?

[2021-09-01 23:20] alex-frankel commented on #58
Just received an ETA that portal support for custom UiDefinition will be available at the end of September.

[2021-09-01 23:37] JustinGrote commented on #58
@alex-frankel later than hoped but thanks for the update all the same!

[2021-09-06 23:54] peter-bertok commented on #58
@alex-frankel will it be available in the preview portal before then for testing?

[2021-09-07 12:24] alex-frankel commented on #58
More than likely, but I don't know for sure at this point. As soon as it's publicly available for use, we will let this thread know.

[2021-09-10 18:56] alex-frankel commented on #49
Closing as the fix for this issue has now been deployed. Installing Az CLI version 2.28.0 should resolve this.

[2021-09-10 18:56] #49 closed

[2021-09-11 15:49] Kittoes0124 commented on #49
Confirmed, thanks!

[2021-09-16 04:19] peter-bertok commented on #58
It appears to be enabled in the Preview portal now, but I get a generic error:

![image](https://user-images.githubusercontent.com/14988123/133548681-ee2f5f16-82f4-46be-bf3e-03b20cbea905.png)

Is this because the feature is not ready, or because there's a new schema for the UI definitions used by Template Specs?

[2021-09-16 04:33] alex-frankel commented on #58
Yes, the schema is being tweaked slightly. The docs are not yet available, but if you are very eager you can take a look at the PR for what the schema will be:
https://github.com/Azure/azure-resource-manager-schemas/pull/1906

[2021-09-17 13:38] Bad-Rog commented on #58
The feature seems to be implemented into Production Portal now,  however i still get the above mentioned error...
By when will there be a documentation to know what to amend?

thanks a lot

[2021-09-20 14:51] alex-frankel commented on #58
The goal is to have docs available by the end of the month

[2021-09-22 00:22] peter-bertok commented on #58
I managed to get it working:

![image](https://user-images.githubusercontent.com/14988123/134264170-00ce1e58-ac75-4b46-a23e-4d0088542b2e.png)

One thing I noticed is that it still shows the "Azure Marketplace Terms" acceptance form, which shouldn't be there for Template Specs.

Some other features I'd love to see are:

- Previews of what resources will be deployed, vaguely like "-WhatIf", but idea

[2021-09-22 18:10] alex-frankel commented on #58
My understanding is this is shown for all custom template deployments. It should also be there if you click a "Deploy to Azure" button in GitHub for example.

Definitely would be great to add What-if output (nicely visualized) to this experience.

Custom icons for TemplateSpecs is also an interesting idea. Do you mind making a separate issue to keep track of that?

[2021-09-23 00:29] peter-bertok opened #59 "Feature request: Please allow custom icons for Template Specs"
It would be nice to be able to select icons for Template Specs to help distinguish them, especially when there are hundreds of them in a single Resource Group representing a large library of standard deployments for an org.

A quick-and-easy option would be to allow users to select from existing resource icons by referencing a resource type name. This way the spec icons would keep up with the "loo

[2021-09-23 00:31] peter-bertok opened #60 "Feature request: Please add "WhatIf" support to Azure Portal deployments"
The Azure Portal integration of Template Specs has improved recently with the addition of UIFormDefinitionFile support. This means that more users will be deploying specs via the GUI. It would be nice the Portal GUI also supported some equivalent of the command line "-WhatIf" mode.

[2021-11-03 16:33] alex-frankel commented on #58
Here is the doc:
https://docs.microsoft.com/azure/azure-resource-manager/templates/template-specs-create-portal-forms

Going to close this for now. Let us know if you run into any issues.

[2022-02-11 16:43] kannanMSFT opened #73 "An artifact path should be unique issue"
I am running into the following issue.

I have a main template that does deployments. I am trying to create two eventgrid topic subscriptions using a common linked template ("artifacts/addQueueEventSubscriptionToEventGridTopic.json"). But the moment I add the second deployment using the same linked template I get the error **"(TemplateSpecVersionInvalidArtifactPath) The artifact path 'artifacts/ad

[2022-02-16 14:07] Svessir opened #74 "relativePaths do not work if the template was referenced by a bicep template"
I am working on migrating my code base to template-specs and bicep. I have a bunch of modules that have not been migrated to bicep or haven't been published as a template-spec yet but I am still referencing these modules from bicep. The issue is that the relativePath within these modules get completely ignored when I push the bicep artifact as a template-spec, forcing me down the path of a bing ba

[2022-02-16 16:43] alex-frankel commented on #74
Can you provide the bicep and ARM template code that is causing the issue?

[2022-02-17 10:05] Svessir commented on #74
[template-spec-issue.zip](https://github.com/Azure/template-specs/files/8087628/template-spec-issue.zip)

Here is an example of the issue.

[2022-02-18 19:11] alex-frankel commented on #74
I think I understand what you are describing. The `relativePath` property works in two different contexts:
1. If you are creating a template spec, the powershell and CLI commands will find these references and "package" it all together in the resulting template spec
2. If you are doing a "traditional" non-template-spec deployment, we will automatically convert the relativePath value to the "uri" e

[2022-02-18 20:36] Svessir commented on #74
I am currently doing what you described in solution 1. That is, convert everything to template specs and that works of course.

What I was trying to show with `resources2` was the following. I have the `main.json` in the root directory which is referencing the `key-vault-deploy.json` as a module within the resources directory where within the module is referencing via `relativePath`. If you would

[2022-03-03 15:00] kmgrime commented on #47
@alex-frankel Last update here was 1 year ago - anything new?

[2022-03-03 16:31] alex-frankel commented on #47
The equivalent of strong type is provided by the UiFormDefinition JSON file which you can associate with a Template Spec. We detailed this in #58, so I'm going to close this one.

[2022-03-03 16:31] #47 closed

[2022-03-09 01:06] kannanMSFT commented on #73
Thanks to @stuartko for following up. For some reason we are unable to reproduce this issue anymore. The template is exactly the same as above in the issue, but I don't get the error message anymore. So maybe something has changed in the backend or az cli. Not sure. With that I am closing this issue.

[2022-03-09 01:06] #73 closed, assigned to aperezmicrosoft, stuartko